@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Robotobold.ttf");
    font-weight: 700;
}

body {
    font-family: Roboto, sans-serif;
    color: #030305;
}

.logo{
    margin-left:50px ;
}

.button {
    background: #030305;
    color: #FFFFFF;
    border: 0;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    cursor: pointer;
    height: 64px;
    padding: 0 40px;
    min-width: 250px;
}

.button:hover {
    background: #575757;
}

.sub-title {
    font-size: 60px;
    font-weight: bold;
    color: #030305;
    line-height: 70px;
    margin-bottom: 50px;
}

.header {
    border-bottom: 1px solid #E5E5E5;
    padding: 25px 0;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 50px;
}

.menu-item a {
    color: #030305;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}

.menu-item a:hover {
    border-bottom: 2px solid #030305;
}

.main {
    background-image: url("img/background.png");
    background-position: center;
    background-size: cover;
    padding: 104px 0 154px 0;
    background-repeat: no-repeat;
}

.main-title {
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    color: #030305;
    margin-bottom: 40px;
}

.main-text {
    max-width: 502px;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 40px;
    color: #030305;
}

.car {
    padding: 100px 0;
}

.car-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    height: 100%;
}

.car-item-img img {
    max-width: 100%;
    height: auto;
}

.car-item-title {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.2px;
    line-height: 150%;
    color: #030305;
    margin: 20px 0;
}

.cardsa {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 25px;

}

.car-item-action {
    width: 100%;
    margin-top: none;
}

.car-button {
    width: 100%;
    height: 54px;
    padding: 0;
}

.price {
    padding-bottom: 121px;
    position: relative;

}

.price-text {
    font-size: 16px;
    line-height: 130%;
    color: #5d5d5f;
    margin-bottom: 40px;
}

.price-form {
    max-width: 344px;
}

.price-input {
    width: 100%;
    padding: 22px 18px;
    margin-bottom: 15px;
    background: #FFFFFF;
    border: 1px solid #5d5d5f;
    font-size: 16px;
    color: black;
    outline: none;
    box-sizing: border-box;
}

.price-input::placeholder {
    color: #5d5d5f;
}

.price-input:focus {
    border-color: #000;
}

#price-action {
    width: 100%;
}

.price-img {
    max-width: 100%;
    height: auto;
    margin-top: 50px;
    display: block;
    margin-left: auto;
}

.footer {
    border-top: 1px solid #E5E5E5;
    padding: 25px 0;
}

.rights {
    font-size: 15px;
    color: #030305;
}

@media (max-width: 1200px) {
    .main-title { 
        font-size: 70px; 
}
}

@media (max-width: 992px) {
    .main-title { 
        font-size: 50px; 
}
    .sub-title { 
        font-size: 40px; 
}

    .price-img {
         margin-top: 30px; 
}
}

@media (max-width: 768px) {
    .main { 
        padding: 60px 0; 
        background-position: top;
    }
    .main-title { 
        font-size: 40px; margin-bottom: 20px; 
    }
    .main-text {
         width: 100%;
    }
    .sub-title { 
        font-size: 32px; line-height: 1.2; text-align: center; 
    }
    
    .price-form { 
        max-width: 100%; 
    }
    
    .footer {
         text-align: center; 
    }
    .footer .row { 
        gap: 20px; 
    }
    
    .menu {
        flex-direction: column;
        gap: 15px;
        margin-top: 20px;
        text-align: center;
    }
}
@media (max-width: 320px) {
  .image_car{
    width: 90px;
  }
}
